.about {
  display: grid;
  gap: 8px 72px;
  grid-template-columns: 240px 1fr 1fr;
  grid-template-rows: 240px auto;
  grid-template-areas: 
    "logo title title"
    ". description description";
  padding: 2px 25px 50px 71px;
}
.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  grid-area: logo;
}
.about__logo {
  width: 148px;
  height: 114px;
}
.about__title {
  grid-area: title;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-top: 101px;
}
.about__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-area: description;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 1px;
  letter-spacing: -0.07px;
}