.cover {
  position: relative;
  z-index: -2;
  display: grid;
  grid-template-columns: 1fr 256px;
  grid-template-rows: 1fr minmax(51px, 1fr);
  gap: 10px;
  box-sizing: border-box;
  min-height: 757px;
  padding: 164px 50px 51px;
  color: white;
  background-image: url("../../images/lotus-flower.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.cover__title {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  gap: 10px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.cover__title-phrase {
  word-spacing: -24px;
}
.cover__title-phrase--center {
  align-self: center;
  margin-right: 30px;

}
.cover__title-phrase--right {
  align-self: flex-end;
  margin-right: -30px;
  line-height: 1.03;
}
.cover__title-phrase--lt-accent {
  word-spacing: 10px;
}

.cover__description {
  align-self: center;
  padding: 0 28px;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}
.cover__description-text {}

.cover__description-text--lt-17 {
  word-spacing: 17px;
}
.cover__description-text--lt-18 {
  word-spacing: 18px;
}
.cover__button {
  align-self: end;
}
