.header {
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  padding: 94px 55.5px 94px 50.5px;
  font-size: 18px;
  justify-content: center;
}
.header__nav {
  align-self: center;
}
.header__logo {
  width: 145px;
}
.header__contact-info {
  justify-self: end;
  align-self: center;
}
