.header {
  display: grid;
  grid-template-columns: 1fr 145px 1fr;
  padding: 94px 50px;
  font-size: 18px;
  line-height: 151%;
  letter-spacing: 0.01em;
}
.header__nav {
  align-self: center;
}

.navigation {
  text-transform: lowercase;
}
.navigation__list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}
.navigation__item {
}
.navigation__item:first-child {
  list-style: none;
}
.navigation__link {
}
.navigation__link--active {
  border-bottom: none;
}
.header__logo {
  width: 145px;
}
.header__contact-info {
  justify-self: end;
  margin-left: 187px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-info__phone {
  white-space: nowrap;
}
.contact-info__email {
  white-space: nowrap;
}
.contact-info__address {}
