@import '../components/navigation.css';

.header {
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  padding: 94px 55.5px 94px 50.5px;
  font-size: 18px;
  justify-content: center;
}
.header__nav {
  align-self: center;
}
.header__logo {
  width: 145px;
}
.header__contact-info {
  justify-self: end;
  align-self: center;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 234.5px;
  line-height: 1.35;
}
.contact-info__phone {
  white-space: nowrap;
}
.contact-info__email {
  white-space: nowrap;
}
.contact-info__address {}
