.lots {
  padding: 0 24px;
}
.lots__title {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__list {
  display: flex;
  gap: 25px;
  min-height: 563px;
  margin-bottom: 30px;
  list-style: none;
}
.lots__item {
  width: 334px;
  min-height: 563px;
}
.lots__lot {
  width: 100%;
  height: 100%;
}

.lots__more-button {
  align-self: flex-start;
  margin-left: 40px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  letter-spacing: 0.9px;
  text-transform: lowercase;
  word-spacing: -4px;
  background-color: transparent;
}