@font-face {
  font-family: Raleway;
  src: local("RalewayRegular"), url("./Raleway-Regular.woff2") format("woff2"),
    url("./Raleway-Regular.woff") format("woff"),
    url("./Raleway-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: local("RalewayMedium"), url("./Raleway-Medium.woff2") format("woff2"),
    url("./Raleway-Medium.woff") format("woff"),
    url("./Raleway-Medium.ttf") format("ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: local("RalewayBold"), url("./Raleway-Bold.woff2") format("woff2"),
    url("./Raleway-Bold.woff") format("woff"),
    url("./Raleway-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
}
