.navigation {
  line-height: 1.054;
  text-transform: lowercase;
}

.navigation--column .navigation__list {
  flex-direction: column;
  align-items: center;
  gap: 2px;
  list-style-type: none;
}
.navigation__list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}
.navigation__item {}
.navigation__item:first-child {
  list-style: none;
}
.navigation__link {
  display: inline-block;
  border-bottom: 1px solid black;
}
.navigation__link--active {
  border-bottom: none;
  letter-spacing: 0;
}
