@import "./sections/header.css";
@import "./sections/cover.css";
@import "./sections/lots.css";
@import "./sections/about.css";
@import "./sections/footer.css";

@import "./components/navigation.css";
@import "./components/contact-info.css";
@import "./components/overlay.css";
@import "./components/button.css";
@import "./components/lot.css";
@import "./components/socials.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  letter-spacing: 0.01em;
  text-decoration: none;
}
a:focus {
  border-radius: 5px;
  outline: 2px black solid;
}
a:hover {
  opacity: 0.5;
}

button {
  color: inherit;
}
button:focus {
  border-radius: 5px;
  outline: 2px inherit solid;
  outline-offset: 5px;
}


address {
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Raleway, serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 179px;
}
